@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-alpha.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/teal-dark-alpha.css";

@layer base {
	@font-face {
		font-family: "Bitter";
		src: url("/fonts/Bitter-VariableFont_wght.ttf") format("truetype");
		font-optical-sizing: auto;
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
		font-variation-settings: "wdth" 100;
	}

	a:hover {
		text-decoration: underline;
	}

	button {
		cursor: default;
	}
}
