---
import { getEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const slug = Astro.params.slug;
if (!slug) {
	return Astro.redirect("/404");
}

const entry = await getEntry("blog", slug);
if (!entry) {
	return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<BaseLayout>
	<div class="mx-auto max-w-4xl space-y-14 px-4 py-10">
		<h1>{entry.data.title}</h1>
		<article
			class="prose-sand prose max-w-none prose-headings:text-hi-contrast prose-p:text-hi-contrast prose-a:text-[#a7c080] prose-strong:text-[#a7c080] prose-code:text-lo-contrast prose-li:text-hi-contrast marker:prose-li:text-lo-contrast"
		>
			<Content />
		</article>
	</div>
</BaseLayout>
