---
import { getEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const slug = Astro.params.slug;
if (!slug) {
	return Astro.redirect("/404");
}

const entry = await getEntry("blog", slug);
if (!entry) {
	return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<BaseLayout>
	<div class="container space-y-14 py-12">
		<h1 class="text-3xl">{entry.data.title}</h1>
		<article
			class="prose prose-gray max-w-none prose-headings:font-normal prose-headings:text-hi-contrast prose-p:text-hi-contrast prose-a:text-[#a7c080] prose-blockquote:border-gray-6 prose-strong:text-[#a7c080] prose-code:!text-hi-contrast prose-pre:!bg-gray-3 prose-li:text-hi-contrast marker:prose-li:text-lo-contrast"
		>
			<Content />
		</article>
	</div>
</BaseLayout>
