---
import { getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout>
	<div class="mx-auto max-w-4xl space-y-6 px-4 py-10">
		<div class="space-y-4">
			<h1>Blog</h1>
			<p class="text-lg text-lo-contrast">Thoughts and ramblings.</p>
		</div>
		<section>
			<ul class="flex flex-col gap-8">
				{
					posts.map((post) => (
						<li class="flex flex-col items-start">
							<a
								class="text-xl transition-colors"
								href={"/blog/" + post.slug}
							>
								{post.data.title}
							</a>
							<date
								class="text-sm text-lo-contrast"
								datetime={post.data.date.toISOString()}
							>
								{post.data.date.toLocaleDateString("en-GB", {
									year: "numeric",
									month: "long",
									day: "numeric",
								})}
							</date>
							<p class="text-lo-contrast">
								{post.data.description}
							</p>
						</li>
					))
				}
			</ul>
		</section>
	</div>
</BaseLayout>
