---
import { getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = await getCollection("blog");
---

<BaseLayout>
	<div class="container space-y-8 py-12">
		<div class="space-y-1">
			<h1 class="text-3xl">Blog</h1>
			<p class="text-lo-contrast">Thoughts and ramblings.</p>
		</div>
		<section>
			<ul class="flex flex-col gap-8">
				{
					posts.map((post) => (
						<li class="flex flex-col items-start">
							<a href={"/blog/" + post.slug}>{post.data.title}</a>
							<date
								class="text-xs text-lo-contrast"
								datetime={post.data.date.toISOString()}
							>
								{post.data.date.toLocaleDateString("en-GB", {
									year: "numeric",
									month: "long",
									day: "numeric",
								})}
							</date>
							<p class="text-sm text-lo-contrast">
								{post.data.description}
							</p>
						</li>
					))
				}
			</ul>
		</section>
	</div>
</BaseLayout>
