---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
	<div
		class="mx-auto flex w-full max-w-4xl flex-1 flex-col justify-center px-4 py-32"
	>
		<p class="text-lg text-lo-contrast">404</p>
		<h1 class="mt-4">Not found</h1>
		<p class="mt-6 text-lg text-lo-contrast">
			Sorry, the page you're looking for doesn't exist.
		</p>
		<div class="mt-8">
			<a href="/" class="inline-flex items-center gap-2">
				<svg class="h-5 w-5">
					<use href="/icons/20-solid.svg#arrow-long-left"></use>
				</svg>
				 Return to the homepage
			</a>
		</div>
	</div>
</BaseLayout>
