---
import { getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";

const posts = await getCollection("blog").then((posts) =>
	posts
		.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
		.slice(0, 6),
);
---

<BaseLayout>
	<div class="mx-auto flex max-w-4xl flex-col gap-y-16 px-4 pb-32 pt-16">
		<header class="flex flex-col gap-4">
			<h1>Ross Bratton</h1>
			<p class="text-lg text-lo-contrast">
				Software Engineer based in Bristol, UK.<br />Guitarist, aspiring
				home cook, custom keyboard enthusiast.
			</p>
		</header>
		<section class="flex flex-col items-start gap-4">
			<div class="flex flex-col gap-1">
				<h2>Blog</h2>
				<p class="text-lg text-lo-contrast">The latest from my blog.</p>
			</div>
			<ul class="grid w-full grid-cols-1 gap-3 md:grid-cols-2">
				{
					posts.map((post) => (
						<li class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6">
							<a class="text-lg" href={"/blog/" + post.slug}>
								{post.data.title}
							</a>
							<small class="text-sm text-lo-contrast">
								<time datetime={post.data.date.toISOString()}>
									{post.data.date.toLocaleDateString(
										"en-GB",
										{
											year: "numeric",
											month: "long",
											day: "numeric",
										},
									)}
								</time>
							</small>
							<p class="text-lo-contrast">
								{post.data.description}
							</p>
						</li>
					))
				}
			</ul>
			<a class="flex items-center gap-2" href="/blog">
				View all posts
				<svg class="h-6 w-6">
					<use xlink:href="/icons/24-outline.svg#arrow-long-right"
					></use>
				</svg>
			</a>
		</section>
		<section class="flex flex-col items-start gap-4">
			<div class="flex flex-col gap-1">
				<h2>Projects</h2>
				<p class="text-lg text-lo-contrast">
					Some of my open source projects.
				</p>
			</div>
			<ul class="grid w-full grid-cols-1 gap-3 md:grid-cols-2">
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/windy-radix-palette"
					>
						windy-radix-palette
					</a>
					<p class="text-lo-contrast">
						Bring the Radix Colors palette to Tailwind CSS.
					</p>
				</li>
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/website">website</a
					>
					<p class="text-lo-contrast">This website.</p>
				</li>
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/sprites">sprites</a
					>
					<p class="text-lo-contrast">
						A CLI for generating SVG spritesheets from a directory
						of SVG files.
					</p>
				</li>
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/ghostedbot"
						>ghostedbot</a
					>
					<p class="text-lo-contrast">
						My personal Discord bot, written in Go, zero
						dependencies.
					</p>
				</li>
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/dotfiles"
						>dotfiles</a
					>
					<p class="text-lo-contrast">My dotfiles.</p>
				</li>
				<li
					class="flex flex-col items-start gap-1 rounded-xl p-4 ring-1 ring-inset ring-sand-6"
				>
					<a
						class="text-lg"
						href="https://github.com/brattonross/vite-plugin-voie"
					>
						vite-plugin-voie
					</a>
					<p class="text-lo-contrast">
						A Vite plugin for Vue 3 that enables file system based
						routing.
					</p>
				</li>
			</ul>
			<a
				class="flex items-center gap-2"
				href="https://github.com/brattonross"
				target="_blank"
			>
				Check out more on GitHub
				<svg class="h-5 w-5">
					<use xlink:href="/icons/20-solid.svg#arrow-up-right"></use>
				</svg>
			</a>
		</section>
	</div>
</BaseLayout>
