---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="mx-auto flex max-w-4xl flex-col gap-12 px-4 py-10">
		<div class="flex flex-col gap-y-4">
			<h1 class="text-4xl font-bold leading-6">Uses</h1>
			<p class="text-lg leading-5 text-lo-contrast">
				Stuff that I use for development on a daily basis.
			</p>
		</div>
		<section class="flex flex-col gap-y-6">
			<h2 class="text-2xl font-bold leading-6">Software</h2>
			<dl
				class="flex flex-col divide-y divide-sage-6 [&>div:first-of-type]:pt-0 [&>div:last-of-type]:pb-0 [&>div]:py-4"
			>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a class="hover:underline" href="https://neovim.io/"
							>Neovim</a
						>
					</dt>
					<dd class="text-lo-contrast">
						Vim motions are the best, and I want an editor with
						snappy performance. With plugins like Telescope and
						Mason, editing code, even in languages that I've never
						used before, is a great experience.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://github.com/tmux/tmux">tmux</a
						>
					</dt>
					<dd class="text-lo-contrast">
						I'm one of those people who likes to have a single thing
						open at any one time, so a terminal multiplexer comes in
						handy.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://wezfurlong.org/wezterm/">WezTerm</a
						>
					</dt>
					<dd class="text-lo-contrast">
						I'm a fan of Lua, so having a terminal that uses it for
						configuration is comfortable. It also has a few
						interesting features like support for background images
						and multiplexing that I am yet to play around with.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">zsh</dt>
					<dd class="text-lo-contrast">
						Seems like a popular choice, comes by default on MacOS
						these days. Not too fussed about this choice, could
						easily switch to something else if a better alternative
						comes along.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a class="hover:underline" href="https://i3wm.org/"
							>i3</a
						>
					</dt>
					<dd class="text-lo-contrast">
						My first foray into tiling window managers. It suits me
						well, but I do have issues with screen tearing. I'm
						toying with the idea of switching to Sway.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://github.com/sainnhe/everforest"
							>Everforest</a
						>
					</dt>
					<dd class="text-lo-contrast">
						I like to feel like I'm in nature when I'm coding. The
						coffee-stained text colour is comfortable on the eyes.
						My keyboard and deskmat usually use a plant-based theme,
						so I feel like this colour theme fits me well.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://pop.system76.com/">Pop!_OS</a
						>
					</dt>
					<dd class="text-lo-contrast">
						Pop lured me in with its Nvidia compatibility. I like to
						play some games every now and then. Not had any issues
						with this distro so far. I use a MacBook for work
						though.
					</dd>
				</div>
			</dl>
		</section>
		<section class="flex flex-col gap-y-6">
			<h2 class="text-2xl font-bold leading-6">Keyboards</h2>
			<dl
				class="flex flex-col divide-y divide-sage-6 [&>div:first-of-type]:pt-0 [&>div:last-of-type]:pb-0 [&>div]:py-4"
			>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://kinesis-ergo.com/keyboards/advantage360/"
						>
							Kinesis Advantage 360
						</a>
					</dt>
					<dd class="text-lo-contrast">
						Ergonomic, split board. I'm trying to look after my
						physical health a little more recently, so I felt that
						this board would be a decent investment. It is also
						pushing me to actually learn how to touch type
						correctly.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						<a
							class="hover:underline"
							href="https://ramaworks.store/products/u80-a-seq2"
						>
							RAMA WORKS U80-A SEQ2
						</a>
					</dt>
					<dd class="text-lo-contrast">
						My first higher-end build. TKL is the best layout. Has
						NovelKeys Cream switches, lubed with Krytox 205g0.
					</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">
						NovelKeys NK65 Milkshake Edition
					</dt>
					<dd class="text-lo-contrast">A fun little board.</dd>
				</div>
				<div>
					<dt class="text-lg text-hi-contrast">KBDfans TOFU65</dt>
					<dd class="text-lo-contrast">
						Created for work in the office. It is uber quiet, with
						Gateron Silent Black Ink switches, lubed with Krytox
						205g0.
					</dd>
				</div>
			</dl>
		</section>
	</div>
</BaseLayout>
