---
import { THEMES, THEME_KEY, getThemeOrDefault, humanizeTheme } from "~/theme";
import ThemeIcon from "./theme-icon.astro";

const cookie = Astro.cookies.get(THEME_KEY);
const currentTheme = getThemeOrDefault(cookie?.value);
---

<form>
	<label class="relative flex items-center gap-2">
		<span class="sr-only">Select theme</span>
		<ThemeIcon variant={currentTheme} />
		<select
			class="bg-sand-2 py-1.5 pl-9 pr-2.5 dark:bg-sand-1"
			name="theme"
			hx-post="/theme"
			hx-target="previous svg"
			hx-swap="outerHTML"
			onchange="
			document.documentElement.classList.toggle('dark', this.value === 'dark' || (this.value === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches));
			"
		>
			{
				THEMES.map((theme) => (
					<option value={theme} selected={currentTheme === theme}>
						{humanizeTheme(theme)}
					</option>
				))
			}
		</select>
	</label>
</form>
