{{define "title"}}Blog{{end}}

{{define "content"}}
<main class="flex-1 py-16 px-4 mx-auto w-full max-w-3xl md:px-6 lg:px-8">
	<h1 class="text-xl font-semibold">Blog</h1>
	<div class="mt-12 space-y-12">
		<ul class="space-y-4">
			{{range .Articles}}
			<li>
				<a
					href="/blog/{{.Slug}}"
					class="flex gap-x-4 justify-between py-1.5 px-2.5 -mx-2.5 rounded-md hover:no-underline hover:bg-gray-a2"
				>
					<div>
						<p>{{.Title}}</p>
						<p class="text-sm text-gray-11">{{.Description}}</p>
					</div>
					<p class="text-xs leading-6 text-gray-11">
						{{.Date.Format "2006-01-02"}}
					</p>
				</a>
			</li>
			{{end}}
		</ul>
	</div>
</main>
{{end}}
