{{define "title"}}Uses{{end}}

{{define "content"}}
<main class="flex-1 py-16 px-4 mx-auto w-full max-w-3xl md:px-6 lg:px-8">
	<h1 class="text-xl font-semibold">Uses</h1>
	<p class="text-gray-11">
		Software, hardware, and tools that I use on a daily basis
	</p>
	<div class="mt-12 space-y-12">
		<section>
			<h2 class="text-lg font-medium">Software</h2>
			<ul class="mt-8 space-y-8">
				<li class="space-y-2">
					<a
						href="https://neovim.io"
						rel="noopener noreferrer"
						target="_blank"
						>Neovim</a
					>
					<p class="text-sm text-gray-11">
						Text editor that is a key part of my "<a
							class="underline transition-colors duration-200 decoration-gray-a7"
							href="https://www.youtube.com/watch?v=QMVIJhC9Veg"
							rel="noopener noreferrer"
							target="_blank"
							>personalised development environment</a
						>"
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://github.com/tmux/tmux"
						rel="noopener noreferrer"
						target="_blank"
						>tmux</a
					>
					<p class="text-sm text-gray-11">
						Terminal multiplexer. I also use a script based on
						ThePrimeagen's
						<a
							class="underline transition-colors duration-200 decoration-gray-a7"
							href="https://github.com/ThePrimeagen/.dotfiles/blob/master/bin/.local/scripts/tmux-sessionizer"
							rel="noopener noreferrer"
							target="_blank"
							>tmux-sessionizer</a
						>
						to quickly switch between projects
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://wayland.freedesktop.org"
						rel="noopener noreferrer"
						target="_blank"
						>Wayland</a
					>
					<p class="text-sm text-gray-11">
						Curently trying this out as a replacement for X11
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://hyprland.org/"
						rel="noopener noreferrer"
						target="_blank"
						>Hyprland</a
					>
					<p class="text-sm text-gray-11">
						I'm not crazy about ricing, but looks don't hurt
						sometimes 😉
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://archlinux.org/"
						rel="noopener noreferrer"
						target="_blank"
						>Arch Linux</a
					>
					<p class="text-sm text-gray-11">
						I use Arch, btw. Nix gets more appealing every day
						though
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://sw.kovidgoyal.net/kitty/"
						rel="noopener noreferrer"
						target="_blank"
						>kitty</a
					>
					<p class="text-sm text-gray-11">
						Using this until I get access to Ghostty
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://fishshell.com/"
						rel="noopener noreferrer"
						target="_blank"
						>fish</a
					>
					<p class="text-sm text-gray-11">
						Not particularly attached to any shell, fish is fast
						enough with decent features
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://jqlang.github.io/jq/"
						rel="noopener noreferrer"
						target="_blank"
						>jq</a
					>
					<p class="text-sm text-gray-11">
						For when I need to do stuff with JSON
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://volta.sh"
						rel="noopener noreferrer"
						target="_blank"
						>Volta</a
					>
					<p class="text-sm text-gray-11">
						JavaScript tool manager, has worked well for me over
						several years
					</p>
				</li>
				<li class="space-y-2">
					<a
						href="https://berkeleygraphics.com/typefaces/berkeley-mono/"
						rel="noopener noreferrer"
						target="_blank"
						>Berkeley Mono</a
					>
					<p class="text-sm text-gray-11">
						An excellent font from Berkeley Graphics
					</p>
				</li>
			</ul>
		</section>
		<section>
			<h2 class="text-lg font-medium">Keyboards</h2>
			<ul class="mt-8 space-y-8">
				<li class="space-y-2">
					<a href="https://kinesis-ergo.com/keyboards/advantage360/">
						Kinesis Advantage 360
					</a>
					<p class="text-sm text-gray-11">
						Ergonomic, split board. I don't think I could seriously
						go back to a keyboard that isn't concave now
					</p>
				</li>
				<li class="space-y-2">
					<a href="https://ramaworks.store/products/u80-a-seq2">
						RAMA WORKS U80-A SEQ2
					</a>
					<p class="text-sm text-gray-11">
						TKL is the best regular layout. NovelKeys Cream
						switches, lubed with Krytox 205g0, tape and foam mods
					</p>
				</li>
				<li class="space-y-2">
					<p>NovelKeys NK65 Milkshake Edition</p>
					<p class="text-sm text-gray-11">A fun little board</p>
				</li>
				<li class="space-y-2">
					<p>KBDfans TOFU65</p>
					<p class="text-sm text-gray-11">
						Created for work in the office. Silky and quiet. Gateron
						Silent Black Ink switches, lubed with Krytox 205g0
					</p>
				</li>
			</ul>
		</section>
	</div>
</main>
{{end}}
