---
import ThemeSelect from "~/components/theme-select.astro";
import { THEME_KEY } from "~/theme";
import "~/tailwind.css";

export type Props = {
	title?: string;
	description?: string;
};

const cookie = Astro.cookies.get(THEME_KEY);
---

<html
	class:list={["h-full antialiased", {
		dark: cookie?.value === "dark",
	}]}
	lang="en" 
	style={{
		"color-scheme": cookie?.value === "dark" ? "dark light" : "light dark",
	}}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<title>{Astro.props.title ?? "Ross Bratton"}</title>
		<meta
			name="description"
			content={Astro.props.description ??
				"Software Engineer based in Bristol, UK."}
		/>
		<script src="htmx.org"></script>
		{!cookie?.value || cookie.value === "auto" ? (
			<script>
				if (
					window.matchMedia("(prefers-color-scheme: dark)").matches
				) {
					document.documentElement.classList.add("dark");
					document.documentElement.style.colorScheme = "dark light";
				} else {
					document.documentElement.classList.remove("dark");
					document.documentElement.style.colorScheme = "light dark";
				}
			</script>
		) : null}
	</head>
	<body
		class="flex h-full flex-col bg-gray-2 text-hi-contrast dark:bg-gray-1"
		hx-boost="true"
	>
		<header>
			<div
				class="flex items-center gap-6 container py-6"
			>
				<nav class="flex flex-1 items-center gap-6">
					<a href="/">Home</a>
					<a href="/blog">Blog</a>
					<a href="/uses">Uses</a>
				</nav>
				<ThemeSelect />
			</div>
		</header>
		<main class="flex-1">
			<slot />
		</main>
		<footer class="text-lo-contrast">
			<div class="flex items-center container py-6">
				<div class="flex flex-1 gap-2 text-sm">
					<a
						href="https://x.com/brattonross"
						target="_blank"
						rel="noopener noreferrer"
					>&#x1D54F;</a
					>
					 &bull;
					<a
						href="https://github.com/brattonross"
						target="_blank"
						rel="noopener noreferrer"
					>GitHub</a
					>
					 &bull;
					<a href="/blog/rss.xml" hx-boost="false">RSS</a>
				</div>
				<p class="text-xs">© Ross Bratton {new Date().getUTCFullYear()}</p>
			</div>
		</footer>
	</body>
</html>
